<div class="register-container">
  <h1>
    <span class="font-normal">Let's</span>
    <br />
    <strong>Sign Up</strong>
  </h1>
  <span
    >Use the form below to sign up for this super awesome service. You're only a
    few steps away!</span
  >
  <div class="form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div
        class="form-group"
        [ngClass]="{
          'has-error':
            form.controls[controlNames.FIRSTNAME].errors &&
            form.controls[controlNames.FIRSTNAME].touched
        }"
      >
        <label id="fnLabel" for="firstName"><strong>First Name</strong></label>
        <input
          type="text"
          id="firstName"
          aria-labelledby="fnLabel"
          [formControlName]="controlNames.FIRSTNAME"
          aria-describedby="fnErr-required"
          aria-required="true"
          [attr.aria-invalid]="
            form.controls[controlNames.FIRSTNAME].errors &&
            form.controls[controlNames.FIRSTNAME].touched
          "
        />
        <div
          *ngIf="
            form.controls[controlNames.FIRSTNAME].errors?.required &&
            form.controls[controlNames.FIRSTNAME].touched
          "
          class="error-msg"
          id="fnErr-required"
          role="alert"
        >
          First name required
        </div>
      </div>
      <div
        class="form-group"
        [ngClass]="{
          'has-error':
            form.controls[controlNames.EMAIL].errors &&
            form.controls[controlNames.EMAIL].touched
        }"
      >
        <label id="emailLabel" for="email"
          ><strong>Email Address</strong></label
        >
        <input
          type="email"
          id="email"
          [formControlName]="controlNames.EMAIL"
          aria-labelledby="emailLabel"
          aria-describedby="emailErr-required emailErr-invalid"
          aria-required="true"
          [attr.aria-invalid]="
            form.controls[controlNames.EMAIL].errors &&
            form.controls[controlNames.EMAIL].touched
          "
        />
        <div
          *ngIf="form.controls[controlNames.EMAIL].errors?.email"
          class="error-msg"
          id="emailErr-invalid"
          role="alert"
        >
          Invalid email
        </div>
        <div
          *ngIf="
            form.controls[controlNames.EMAIL].errors?.required &&
            form.controls[controlNames.EMAIL].touched
          "
          class="error-msg"
          id="emailErr-required"
          role="alert"
        >
          Email required
        </div>
      </div>
      <div
        class="form-group"
        [ngClass]="{
          'has-error':
            form.controls[controlNames.PASSWORD].errors &&
            form.controls[controlNames.PASSWORD].touched
        }"
      >
        <label id="passlabel" for="password"><strong>Password</strong></label>
        <input
          type="password"
          id="password"
          [formControlName]="controlNames.PASSWORD"
          aria-labelledby="passlabel"
          aria-describedby="passErr-required passErr-invalid"
          aria-required="true"
          [attr.aria-invalid]="
            form.controls[controlNames.PASSWORD].errors &&
            form.controls[controlNames.PASSWORD].touched
          "
        />
        <div
          *ngIf="form.controls[controlNames.PASSWORD].errors?.minlength"
          class="error-msg"
          id="passErr-invalid"
          role="alert"
        >
          Please enter 8 or more characters
        </div>
        <div
          *ngIf="
            form.controls[controlNames.PASSWORD].errors?.required &&
            form.controls[controlNames.PASSWORD].touched
          "
          class="error-msg"
          id="passErr-required"
          role="alert"
        >
          Password required
        </div>
      </div>
      <button id="signUpBtn" class="pull-right btn-orange" type="submit">
        Sign Up
      </button>
    </form>
  </div>
</div>
