<div class="register-container">
  <h1>
    <span class="font-normal">Let's</span>
    <br />
    <strong>Sign Up</strong>
  </h1>
  <span
    >Use the form below to sign up for this super awesome service. You're only a
    few steps away!</span
  >
  <div class="form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div
        class="form-group"
        [ngClass]="{
          'has-error':
            form.controls[controlNames.FIRSTNAME].errors &&
            form.controls[controlNames.FIRSTNAME].touched
        }"
      >
        <label for="firstName"><strong>First Name</strong></label>
        <input
          type="text"
          id="firstName"
          [formControlName]="controlNames.FIRSTNAME"
        />
        <div
          *ngIf="
            form.controls[controlNames.FIRSTNAME].errors?.required &&
            form.controls[controlNames.FIRSTNAME].touched
          "
          class="error-msg"
        >
          First name required
        </div>
      </div>
      <div
        class="form-group"
        [ngClass]="{
          'has-error':
            form.controls[controlNames.EMAIL].errors &&
            form.controls[controlNames.EMAIL].touched
        }"
      >
        <label for="email"><strong>Email Address</strong></label>
        <input type="email" id="email" [formControlName]="controlNames.EMAIL" />
        <div
          *ngIf="form.controls[controlNames.EMAIL].errors?.email"
          class="error-msg"
        >
          Invalid email
        </div>
        <div
          *ngIf="
            form.controls[controlNames.EMAIL].errors?.required &&
            form.controls[controlNames.EMAIL].touched
          "
          class="error-msg"
        >
          Email required
        </div>
      </div>
      <div
        class="form-group"
        [ngClass]="{
          'has-error':
            form.controls[controlNames.PASSWORD].errors &&
            form.controls[controlNames.PASSWORD].touched
        }"
      >
        <label for="password"><strong>Password</strong></label>
        <input
          type="password"
          id="password"
          [formControlName]="controlNames.PASSWORD"
        />
        <div
          *ngIf="form.controls[controlNames.PASSWORD].errors?.minlength"
          class="error-msg"
        >
          Please enter 8 or more characters
        </div>
        <div
          *ngIf="
            form.controls[controlNames.PASSWORD].errors?.required &&
            form.controls[controlNames.PASSWORD].touched
          "
          class="error-msg"
        >
          Password required
        </div>
      </div>
      <button class="pull-right btn-orange" type="submit">Sign Up</button>
    </form>
  </div>
</div>
